/bin
build/
.idea
.gradle/
_build/
classes/
out-win/
out-mac/
out-linux/
out/
WurstSetup.iml
downloads/
src-gen/

setup.log
local.properties
wurstpack_compiler.zip
buildproject/
compiled.j.txt
myname/
testproject/
ptrtestproject/
temp/
